@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500,700|Playfair+Display:400,700,900');

$sans: 'IBM Plex Sans', sans-serif;
$serif: 'Playfair Display', serif;

$white: #F7F4F3;
$dark: #333333;

$main: #DBD0C7;
$accent: #BCC7E2;
$light: #F6E7E0;

$accent-dark: darken($accent, 10%);
$main-dark: #BAB0A9;

/*potential colors*/
$pink: #DBB3B1;
$green: #A9BAAC;

$ease: all .3s ease;
$ease-slow: all .3s ease-out;

body {
  font-family: $sans;
  margin: 0;
  background: $white;
}
a {
  text-decoration: none;
  color: $main-dark;
}

p {
  color: $dark;
  font-weight: 300;
  letter-spacing: .5px;
}

.p-caps {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

em {
  font-family: $serif;
  font-weight: 100;
  font-size: .95em;
  text-transform: lowercase;
}
h3 {
  color: $accent;
  font-family: $sans;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  em {
    color: $main-dark;
    letter-spacing: 0;
  }
}

#navbar {
  width: 100%;
  background: rgba($white, 1);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 4px rgba($dark, .1);
  a {
    font-family: $sans;
    margin: 0 8%;
    color: $dark;
    letter-spacing: 3px;
    font-size: 0.85em;
    font-weight: 300;
    text-transform: uppercase;
    transition: $ease;
    border-bottom: 3px solid rgba($pink, 0);
    &:hover {
      color: $pink;
      border-bottom: 3px solid $pink;
    }
  }
}

.bottom {
  position: absolute;
  top: 767px;
  z-index: 10;
  margin: 0;
}

.top {
  position: fixed;
  top: 0;
  z-index: 10;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
}

button {
  padding: 15px;
  outline: 0;
  border: none;
  text-transform: uppercase;
  font-family: $sans;
  letter-spacing: 2px;
  font-weight: 100;
  cursor: pointer;
  transition: $ease;
  &:hover {
    transform: scale(1.05);
  }
}
.btn-primary {
  background: $light;
  color: $dark;
}

.accent-line {
  width: 55px;
  height: 7px;
  margin-top: 0;
  margin-bottom: 40px;
  background: $accent;
}
.accent-line-center {
  width: 60px;
  height: 7px;
  background: $light;
  justify-self: center;
}

.landing--container {
  background-color: rgba($main, 1);
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  min-height: 765px;
  overflow: auto;
  display: flex;
  align-items: center;
}

.landing--image {
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #ecebec;
  background-image: url('../img/harvey-bg2.jpg');
  // background-attachment: fixed;
  background-position: -200px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba($main, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.landing--title {
  position: absolute;
  left: 45%;
  z-index: 3;
  h1 {
    text-transform: uppercase;
    font-size: 7em;
    letter-spacing: 5px;
    font-family: $serif;
    font-weight: 900;
    color: $white;
    margin: 0;
    text-shadow: 5px 3px 5px rgba($dark, .2);
  }
  p {
    margin: 0 0 40px 0;
    color: $dark;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
    span {
      background: $light;
      padding: 4px;
      line-height: 2.2em;
    }
  }
}

/*homepage grid section*/
.container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 100%;
  transition: $ease;
}
.home-grid-item {
  position: relative;
  background: #FFFFFF;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: $ease-slow;
  h4 {
    color: $main-dark;
    font-family: $serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3em;
    font-weight: 400;
    em {
      color: $accent;
    }
    span {
      color: $accent;
      font-size: 1.4em;
      font-weight: 100;
    }
  }
  &:hover {
    transition: $ease-slow;
    transform: scale(1.01);
    box-shadow: 3px 3px 5px rgba($dark, .1);
    .home-grid-image {
      transition: $ease-slow;
      opacity: 1;
      transform: translateY(0);
      img {
        opacity: .6;
      }
    }
  }
}

.home-grid-image {
  position: absolute;
  transform: translateY(100%);
  transition: $ease-slow;
  background: $light;
  opacity: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.home-quote {
  position: relative;
  background: $accent;
  margin: 0;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  i {
    color: $light;
  }
  .fa-quote-right {
    font-size: 3em;
  }
  a {
    transition: $ease;
    color: $white;
    letter-spacing: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.9em;
    margin: 15px 0;
    text-decoration: underline;
    &:hover {
      background: $white;
      color: $accent;
    }
  }
}
.quote {
  font-family: $serif;
  color: $white;
  font-size: 2.5em;
  font-weight: 200;
  margin: 0;
  span {
    font-style: italic;
  }
}

.home-cta {
  text-align: center;
}

.inline-buttons {
  button {
    margin-right: 10px;
  }
}


// about page

.page-about-hero {
  width: 100%;
  height: 400px;
  background: $main;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  .p-caps {
    color: $main-dark;
  }
}

.page-about-main {
  padding: 5% 0;
  position: relative;
  width: 100%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.image-container {
  position: relative;
  width: 1000px;
  height: 80%;
  margin: auto;
}

.text-container {
  margin-top: 35px;
  width: 950px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    line-height: 1.55em;
    margin: 35px 0;
    font-size: 0.93em;
  }
}
.text-line {
  width: 45px;
  height: 5px;
  background: $pink;
}

.about-title {
  font-family: $serif;
  color: $pink;
  position: absolute;
  left: 19%;
  top: 12%;
  font-weight: 800;
  font-size: 3.5em;
  margin: 0;
  span {
    padding-bottom: 10px;
    border-bottom: 9px solid $main;
  }
}
.about-main-image1 {
  margin-left: 45%;
  margin-top: 40px;
  overflow: hidden;
  height: 500px;
  background-image: url('../img/harvey-small.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.about-main-image2 {
  overflow: hidden;
  margin-top: -250px;
  width: 530px;
  height: 600px;
  background-image: url('../img/harvey-happy.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// .image-overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: rgba($light, .23);
// }

footer {
  height: 20vh;
  background: $white;
  position: relative;
  width: 100%;
  text-align: center;
}
.footer--social {
  height: 100px;
  padding-top: 15px;
  i {
    padding: 30px;
    color: $accent;
    transition: $ease;
    &:hover {
      color: $pink;
      transition: $ease;
      transform: scale(1.3);
    }
  }
}
.footer--bottom {
  width: 100%;
  position: absolute;
  height: 20%;
  bottom: 10px;
}
.footer--text {
  font-family: $sans;
  font-weight: 100;
  font-size: .6em;
  color: $dark;
  letter-spacing: 2px;
  text-transform: uppercase;
  a {
    font-family: $serif;
    color: $pink;
    transition: $ease;
    &:hover {
      background: $accent;
      color: $dark;
    }
  }
}

/*background colors */
.accent-bg {
  background: $accent;
}
.light-bg {
  background: $light;
  .quote, a {
    color: $main-dark;
  }
  i {
    color: $accent;
  }
}
.white-bg {
  background: $white;
}

@media only screen and (max-width: 950px) {
  .landing--image {
    background-position: -270px 0;
  }
  .landing--title {
    h1 {
      font-size: 6.3em;
    }
  }
  .home-grid {
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 875px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .landing--title {
    left: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .landing--image {
    width: 102%;
    height: 45%;
    top: 0;
    background-position: -10px 0;
  }
  .landing--title {
    left: 0;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .home-grid {
    margin: 40px 0 100px 0;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .home-grid-item {
    height: 350px;
    width: 350px;
    justify-self: center;
  }
  .accent-line-center {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .landing--title {
    margin: 0 auto;
    h1 {
      font-size: 5em;
      letter-spacing: 3px;
    }
  }
}
