@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,700|Playfair+Display:400,700,900');

$sans: 'IBM Plex Sans', sans-serif;
$serif: 'Playfair Display', serif;

$white: #FFFDFC;
$tan: #DCC6B6;
$light: #B7D6F7;
$main: #8BB5F4;
$secondary: #AB9381;
$gray: #848280;
$yellow: #F5C965;
$peach: #EDD4BA;
$dark: #212121;

$ease: all .3s ease;

body {
  margin: 0;
  font-family: $sans;
}
a {
  text-decoration: none;
}

em {
  font-family: $serif;
  font-weight: 100;
  font-size: .95em;
  text-transform: lowercase;
}

#navbar {
  width: 100%;
  background: rgba($white, .5);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-family: $sans;
    margin: 0 5%;
    padding: 15px;
    color: $main;
    letter-spacing: 3px;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
}

.landing--container {
  position: relative;
  margin: 0;
  background-image: url('');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.landing--title {
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;
  h1 {
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 5px;
    font-family: $serif;
    font-weight: 900;
    color: $main;
    margin: 0;
  }
  p {
    margin: -10px 0 40px 0;
    color: $main;
    font-weight: 300;

  }
}

.primary-btn {
  padding: 15px;
  outline: 0;
  border: none;
  text-transform: uppercase;
  font-family: $sans;
  letter-spacing: 2px;
  background: $main;
  font-weight: 100;
  color: $white;
  cursor: pointer;
  transition: $ease;
  &:hover {
    transform: scale(1.05);
  }
}

.accent-line {
  width: 55px;
  height: 7px;
  margin-top: 0;
  margin-left: 2px;
  margin-bottom: 40px;
  background: $yellow;
}

section {
  width: 100%;
  height: 100vh;
}

.color-bg {
  background: $light;
}

footer {
  height: 20vh;
  background: $main;
  position: relative;
  width: 100%;
  text-align: center;
}
.footer--social {
  height: 100px;
  padding-top: 15px;
  i {
    padding: 30px;
    color: $light;
    transition: $ease;
    &:hover {
      color: $tan;
      transition: $ease;
      transform: scale(1.3);
    }
  }
}
.footer--bottom {
  width: 100%;
  position: absolute;
  height: 20%;
  bottom: 0;
}
.footer--text {
  font-family: $sans;
  font-size: .5em;
  color: $dark;
  letter-spacing: 2px;
  text-transform: uppercase;
  span {
    color: $white;
  }
  a {
    font-family: $serif;
    font-style: italic;
    color: $white;
    &:hover {
      background: $tan;
      color: $light;
    }
  }
}
